<label class="ui-input-field{{#if className}} {{className}}{{/if}}">
	<div class="ui-input-field__label">{{ label }}</div>
	{{> UIInput className="ui-input-field__input" type=type name=name  }}
</label>