<main class="profile-page">
	<form class="profile-page__form">
		<div class="profile-page__user">
			{{> UIAvatar className="profile-page__user-avatar" }}
			<div>
				<h1>Настройки профиля</h1>
				{{> UIButton text="Сменить аватар" }}
			</div>
		</div>
		<div class="profile-page__grid">
			{{> UIInputField type="text" name="first_name" label="Имя" }}
			{{> UIInputField type="text" name="second_name" label="Фамилия" }}
			{{> UIInputField type="text" name="phone" label="Телефон" }}
			{{> UIInputField type="text" name="email" label="Email" }}
			{{> UIInputField type="text" name="login" label="Логин" }}
			{{> UIInputField type="text" name="display_name" label="Отображаемое имя" }}
			{{> UIInputField type="text" name="oldPassword" label="Старый пароль" }}
			{{> UIInputField type="text" name="newPassword" label="Новый пароль" }}
		</div>
		{{> UIButton text="Сохранить изменения" className="profile-page__button" }}
		<div class="profile-page__footer">
			<a class="link">На главную</a>
		</div>
	</form>
</main>
