@import 'reset';

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background-color: $second-color;
  color: $main-color;
}

.link {
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
  &:hover {
    text-decoration: none;
  }
}
