.messenger-card {
  width: 100%;
  padding: 10px 0 10px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 2px;

  &_active {
    background: $main-dark-color;
  }

  &:hover {
    background: $main-dark-color;
  }

  &__info {
    flex: 1;
    overflow: hidden;
  }

  h4 {
    margin-bottom: 10px;
    font-weight: 600;
  }

  p {
    min-width: 0;
    font-weight: 300;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__delete {
    visibility: hidden;
    margin-right: 10px;
  }

  &:hover &__delete {
    visibility: visible;
  }
}
