.ui-input-field {
  display: block;
  width: 100%;

  &__label {
    margin-bottom: 6px;
    font-size: 14px;
    color: rgba(lightgray, .8);
  }

  &__error {
    color: $error-color;
    font-size: 13px;
    margin-top: 6px;
  }
}
